# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
!terraform/environments/**/*.tfvars
.terraform.lock.hcl

# Backups e Lixo
old_root_backup/
*.backup
*.tmp
.DS_Store

# Logs e Credenciais
*.log
.aws/
.env
aws/
awscliv2.zip
